# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

[*]
indent_style = tab

# C# files
[*.cs]

# formatting deviations as warnings
dotnet_analyzer_diagnostic.category-Style.severity = warning
